body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
}

.right-items {
  margin-left: auto;
}

.login-btn {
  background-color: #9a60dd;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #ccc;
}


/* styles.css */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  width: 100%;
}

.fade {
  animation: fadeEffect 2s infinite;
}

@keyframes fadeEffect {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

img {
  width: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center; 
}